.btn-fold {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.7em 2em;
  background-color: var(--secondary-color, #E3007C);
  text-decoration: none !important;
  border: none;
  border-radius: 0.5em;
  color: var(--formal-color, #ffffff) !important;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  overflow: hidden !important;
}

.btn-fold::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, 
    transparent 50%, 
    rgba(255, 255, 255, 0.3) 50%, 
    rgba(255, 255, 255, 0.1) 100%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.btn-fold:hover {
  clip-path: polygon(1.5em 0, 100% 0, 100% 100%, 0 100%, 0 1.5em);
  box-shadow: 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.3);
}

.btn-fold:hover::before {
  width: 1.5em;
  height: 1.5em;
}

.btn-fold:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.btn-fold b {
  position: relative;
  z-index: 1;
  font-weight: 600 !important;
}

.btn-fold.btn-gold {
  background-color: var(--accent-color, #CB9600);
}

.btn-fold i{
  transition: transform .4s ease-in-out;
}

.btn-fold:hover i{
  transform: translateX(5px);
}
